.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #ff5603;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #ff5603;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #ff5603;
}
#offcanvas-toggler >i {
  color: #fff;
}
#offcanvas-toggler >i:hover {
  color: #ff5603;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #0faae4;
  background-color: #ff5603;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #0d8ab9;
  background-color: #0e9cd1;
}
ul.social-icons >li a:hover {
  color: #ff5603;
}
.sp-page-title {
  background: #ff5603;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #ff5603;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #ff5603;
}
.sp-module .tagscloud .tag-name:hover {
  background: #ff5603;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #ff5603;
}
.search .btn-toolbar button {
  background: #ff5603;
}
.post-format {
  background: #ff5603;
}
.voting-symbol span.star.active:before {
  color: #ff5603;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #0e9cd1;
}
.entry-link,
.entry-quote {
  background: #ff5603;
}
blockquote {
  border-color: #ff5603;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #ff5603;
}
#sp-footer {
  background: #ff5603;
}
.sp-comingsoon body {
  background-color: #ff5603;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #ff5603;
  background-color: #ff5603;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #ff5603;
  background-color: #ff5603;
}
.lt-title h6,
.lt-slider .tp-caption a,
.lt-intro-item:hover i,
.lt-intro-item i,
.lt-feature-item:hover i,
.lt-table-item .table-price,
.lt-table-item:hover button,
.lt-portfolio-button:hover,
.lt-action-button:hover,
.lt-table-item:hover button,
.lt-team-item .qx-person-img:before {
  background: #ff5603;
}

.lt-feature-item h4,
.lt-intro-item h4,
.lt-table-item h3,
.lt-table-item h3,
.lt-table-item:hover .table-price span.price,
.lt-table-item:hover .table-price span.curriency,
.lt-table-item:hover .table-price span.month,
.lt-table-item .table-price .price,
.lt-table-item button:hover,
.lt-intro-item:hover i,
.lt-table-item .table-price .price,
.lt-testimonial p.qx-designation,
.lt-testimonial button,
.lt-team-item h4 {
  color: #ff5603; 
}
.lt-feature-item:hover i,
.lt-portfolio-button:hover,
.lt-action-button:hover,
.lt-table-item:hover,
.lt-table-item button a,
.lt-subscribe-content table .button:hover {
  border-color: #ff5603;
}
/* Important */
.lt-services-item:hover i,
.lt-our-progress i,
 #sp-top2 a,
.lt-services-item:hover h4 {
  color: #ff5603!important; 
}
.lt-contact #sp-quickcontact-form .button:hover,
.projects-filter a.selected,
#lt-about-item-button,
#lt-populer-item-button,
.lt-contact-form button,
#lt-button-skill .qx-btn,
.lt-table-item button,
#portfolio-module-125 .projects-wrapper .project-img .project-img-extra .project-icon,
.lt-table-item:hover,
.lt-skill-item .qx-progress-bar,
.lt-subscribe-content table .button:hover {
  background: #ff5603!important;  
}
.lt-contact #sp-quickcontact-form .button:hover,
#lt-about-item-button  {
  border-color: #ff5603!important; 
}

.lt-title h2 {
    background: url(../../images/header-title-1.png)no-repeat bottom center;
}
#portfolio-module-125 .projects-wrapper .project-img .project-img-extra {
    background-color: rgba(255, 86, 3, 0.54)!important;
}
.projects-wrapper .project-img .project-img-extra {
    background-image: -webkit-linear-gradient(top , rgba(255, 86, 3, 0.57) 0%, rgba(255, 86, 3, 0.55) 100%)!important;
}
.nav-items > div:first-child {
  border: 1px solid #ff5603;
}

.nav-items > div:first-child,
.nav-items > div,
.nav-items > div:last-child {
  border: 1px solid #ff5603;
}
a {
  color: #ff5603;
}